body {
  font-family: "Pixelify Sans", sans-serif;
  background-color: #1c2f6b;
  color: #ddac0a;
}

h1{
    text-align: center;
    font-size: 60px;
}

.gamePlaySection {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.userSide,
.computerSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    gap: 30px;
    padding: 50px;

}

.userSide .userImg,
.computerSide .computerImg {
    width: 200px;
    height: auto;
}

.buttonsUser,
.buttonsComputer {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.buttonsUser img,
.buttonsComputer img {
    width: 90px;
    height: auto;
    box-shadow: #1E40AF 2px 2px 2px 2px;
}

.buttonsUser img:hover {
    box-shadow: #ddac0a 2px 2px 2px 2px;
}